{
  "env": {
    "development": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  },
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "61",
        "safari" : "8",
        "edge": "14",
        "firefox" : "57",
        "ie" : "10",
        "ios" : "9"
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }]
  ],
  "plugins": ["@babel/plugin-transform-object-assign"]
}
